@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --cursor-stroke: #ff0000;
  --cursor-fill: transparent;
  --cursor-stroke-width: 1px;
  --base-image-width: 450px;
  --base-image-height: 600px;
  --image-width: 450px;
  --image-height: 600px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  z-index: 2;
}

body {
  background-image: linear-gradient(
    to bottom,
    #132135,
    #0c2542,
    #05203f,
    #02152b,
    #000000
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

ul#scene {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: -1;
}

.moon-light {
  position: fixed;
  top: -20rem;
  left: 30rem;
}
.cloud-1 {
  position: fixed;
  top: 1rem;
  left: 65rem;
}
.cloud-2 {
  position: fixed;
  top: 8rem;
  left: 35rem;
}
.moon {
  position: fixed;
  top: 6rem;
  left: 56rem;
}
.dark-cloud-1 {
  position: fixed;
  top: 13rem;
  left: 75rem;
}
.dark-cloud-2 {
  position: fixed;
  top: 34rem;
  left: 70rem;
}
.dark-cloud-3 {
  position: fixed;
  top: 25rem;
  left: 40rem;
}

main {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider__image--wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--image-width);
  height: var(--image-height);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
  user-select: none;
}
.slider__image--wrapper .slider__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  display: none;
}

.slider__slide-info--wrapper {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--image-width);
  height: var(--image-height);
  transform: translate(-50%, -50%);
  z-index: 2;
}
.slider__slide-info--wrapper .slider__silde-info {
  color: #fff;
  pointer-events: auto;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--wrapper {
  position: absolute;
  bottom: 0;
  left: 105%;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index,
.slider__slide-info--wrapper .slider__silde-info .slide__text--title {
  font-family: "Red Rose";
  font-weight: 700;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-60%, -20%);
  display: inline-block;
  font-size: 14rem;
  overflow: hidden;
  line-height: 80%;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index--text {
  display: block;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--title {
  font-size: 7rem;
  transform: translateX(-35%);
  overflow: hidden;
  line-height: 80%;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 0, 0);
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--title .word {
  display: flex;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--description {
  width: 350px;
  font-family: "Lato";
  font-size: 1rem;
  line-height: 140%;
}
.slider__slide-info--wrapper
  .slider__silde-info
  .slide__text--description
  .line {
  overflow: hidden;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index,
.slider__slide-info--wrapper .slider__silde-info .slide__text--title,
.slider__slide-info--wrapper .slider__silde-info .slide__text--description {
  pointer-events: none;
}
.slider__slide-info--wrapper
  .slider__silde-info:not(.slide--current)
  .slide__index,
.slider__slide-info--wrapper
  .slider__silde-info:not(.slide--current)
  .slide__text--title,
.slider__slide-info--wrapper
  .slider__silde-info:not(.slide--current)
  .slide__text--description {
  pointer-events: none;
  opacity: 0;
}

.slider__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 20px;
  cursor: pointer;
  z-index: 12;
}
.slider__nav svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease;
  transform: translateX(var(--tr-x, 0px));
}
.slider__nav--prev {
  left: 25vw;
}
.slider__nav--prev:hover svg {
  --tr-x: -10px;
}
.slider__nav--prev:hover:active svg {
  --tr-x: -5px;
}
.slider__nav--next {
  right: 25vw;
}
.slider__nav--next:hover svg {
  --tr-x: 10px;
}
.slider__nav--next:hover:active svg {
  --tr-x: 5px;
}

.dom-gl {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cursor {
  display: none;
}

.frame {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  color: #fff;
  font-family: "Red Rose";
  font-weight: 300;
  z-index: 50;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo .. btn" "artist ... credits";
  pointer-events: none;
}
.frame > * {
  pointer-events: auto;
}
.frame__logo {
  grid-area: logo;
  justify-self: left;
}
.frame__button {
  grid-area: btn;
  justify-self: right;
}
.frame__artist {
  grid-area: artist;
  justify-self: left;
}
.frame__credits {
  grid-area: credits;
  justify-self: right;
}
.frame__credits,
.frame__artist {
  font-size: 0.8rem;
  overflow: hidden;
}
.frame__credits span,
.frame__artist span {
  display: inline-block;
}
.frame__credits a,
.frame__artist a {
  font-weight: 400;
  opacity: 0.8;
}
.frame__credits a:hover,
.frame__artist a:hover {
  opacity: 1;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__wrapper .loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vmin;
  font-family: "Red Rose", sans-serif;
  color: #fff;
}
.loading__wrapper .loading__text--inner {
  animation: blink 1s infinite alternate-reverse;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
.loading__wrapper .text__wrapper {
  position: relative;
  font-size: 10vmin;
  font-family: "Red Rose", sans-serif;
  text-transform: uppercase;
  font-display: swap;
  color: #fff;
}
.loading__wrapper .text__wrapper .text__row {
  display: block;
}
.loading__wrapper .text__wrapper .text__row .text {
  display: block;
  user-select: none;
  opacity: 0;
}
.loading__wrapper .text__wrapper .text__row:nth-child(1) {
  clip-path: polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(2) {
  clip-path: polygon(0% 50%, 100% 50%, 100% 75.5%, 0% 75.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(3) {
  clip-path: polygon(0% 25%, 100% 25%, 100% 50.5%, 0% 50.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(4) {
  clip-path: polygon(0% 0%, 100% 0%, 100% 25.5%, 0% 25.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(5) {
  clip-path: polygon(0% -25%, 100% -25%, 100% 0.5%, 0% 0.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(6) {
  clip-path: polygon(0% -50%, 100% -50%, 100% -24.5%, 0% -24.5%);
}
.loading__wrapper .text__wrapper .text__row.text__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.loading__wrapper .bg__transition--slide {
  background: #0e0e0e;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100;
  }
  .cursor--large .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
    opacity: 0.7;
  }
  .cursor--small .cursor__inner {
    fill: var(--cursor-stroke);
    stroke: var(--cursor-fill);
    opacity: 0.7;
  }
  .cursor--close {
    fill: none;
    stroke: var(--cursor-stroke);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 32px;
    mix-blend-mode: difference;
  }
}
@media only screen and (max-width: 64em) {
  .slider__slide-info--wrapper .slider__silde-info .slide__text--title {
    transform: translateX(-80%);
  }
  .slider__slide-info--wrapper .slider__silde-info .slide__text--description {
    opacity: 0;
    height: 0;
  }

  .frame__credits {
    display: none;
  }
}
@media only screen and (max-width: 53em) {
  :root {
    --image-width: calc(var(--base-image-width) / 1.125);
    --image-height: calc(var(--base-image-height) / 1.125);
  }

  .slider__slide-info--wrapper .slider__silde-info .slide__index {
    transform: translate(-60%, 0%);
    font-size: 10rem;
  }
}
@media only screen and (max-width: 32em) {
  :root {
    --image-width: calc(var(--base-image-width) / 1.5);
    --image-height: calc(var(--base-image-height) / 1.5);
  }

  .slider__slide-info--wrapper .slider__silde-info .slide__index {
    font-size: 7rem;
  }
  .slider__slide-info--wrapper .slider__silde-info .slide__text--title {
    transform: translateX(-60%);
    font-size: 5rem;
  }

  .frame__artist {
    display: none;
  }
}
